@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class=" row justify-content-around">
    <a asp-area="" asp-controller="Home" asp-action="Add" class="btn btn-success">
        Agregar usuarios
    </a>
    <a class="btn btn-danger">
        Exportar a pdf
    </a>

</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Dirección</th>
            <th scope="col">Nit</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Clients cliente in ViewBag.clientes)
        {
            <tr>
                <th scope="row">@cliente.Id</th>
                <td>@cliente.Firstname</td>
                <td>@cliente.Lastname</td>
                <td>@cliente.Address</td>
                <td>@cliente.Nit</td>
                <td> 
                    <a asp-area="" asp-controller="Home" asp-action="Edit" asp-route-id="@cliente.Id"> Editar  </a> | 
                    <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-id="@cliente.Id"> Eliminar  </a>
                </td>
            </tr>
         }

    </tbody>
</table>
